*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Android.png
CLAUDE.md
TODO.md
bilan_revue_de_code.pdf
bilan_simulation_soutenance.html
/TajMahal.apk
